* {
  margin: 0;
  padding: 0;
}
body {
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.box {
  background-color: #0e6251;
  width: 150px;
  height: 150px;

  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: animation 5s ease-in-out 2s infinite;
  transition: background-color 0.5s ease-in-out, transform 0.3s;
}

@keyframes animation {
  0% {
    transform: translateX(0px) rotate(0deg);
    background-color: #117864;
  }

  25% {
    transform: translateX(100px) rotate(90deg);
    background-color: #148f77;
  }
  50% {
    transform: translateX(150px) rotate(180deg);
    background-color: #17a589;
  }
  75% {
    transform: translateX(200px) rotate(270deg);
    background-color: #1abc9c;
  }
  100% {
    transform: translateX(300px) rotate(360deg);
    background-color: #48c9b0;
  }
}
