body {
  background-color: #d7dbdd;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  background-color: #e5e7e9;
  color: black;
  font-size: 2rem;
  font-style: oblique;
  line-height: 60px;
  text-transform: uppercase;
}

#heading-1 {
  background-color: #f6ddcc;
  color: #616a6b;
}
#heading-2 {
  background-color: #616a6b;
  font-size: 2rem;
  font-weight: 700;
  font-style: oblique;
  line-height: 35px;
  text-transform: capitalize;
}

#main-heading {
  background-color: #616a6b;
  color: #fcf3cf;
  font-size: 1rem;
  font-weight: 500;
  font-style: initial;
  line-height: 35px;
  text-transform: capitalize;
}

.common-list {
  background-color: bisque;
  font-size: 1.5rem;
  /* font-weight: 500;
  font-style: initial;
  line-height: 35px;
  text-transform: capitalize; */
}

.paragraph {
  background-image: url("image2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100vh;
}

.link{
  font-size: 0.8rem;
  font-weight: 600;
}
