* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #d35400;
  color: aliceblue;
  text-align: center;
  padding: 20px;
}

.container {
  margin: 10px;
  padding: 20px;
  border: 2px solid #e1c0aa;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 10px;
  border: 2px solid #d35400;
  background-color: #e1c0aa;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.5s ease-in-out, width 1s, height 1s,
    transform 0.3s;
}

.box1:hover {
  background-color: cadetblue;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.box2:hover {
  background-color: #e9efc7;
  width: 160px;
  height: 160px;
  transform: rotate(30deg);
}

.box3:hover {
  background-color: cadetblue;
  width: 160px;
  height: 160px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 0%;
}
.box1 {
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

.box2 {
  transition-duration: 1s;
  transition-timing-function: ease;
}

.box3 {
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

footer{
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #d35400;
    
}