* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #9b59b6;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
}
.container {
  margin-top: 10px;
}
.box {
  background-color: #f1948a;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box1 {
  z-index: 1;
  background-color: #e6b0aa;
  position: relative;
  top: 50px;
}

.box2 {
  background-color: #d1f2eb;
  z-index: 2;
}

.box3 {
  z-index: 3;
  background-color: #f9e79f;
}

footer {
  position: fixed;
  bottom: 100px;
  right: 10px;
  left: 10px;
  background-color: #9b59b6;
  color: whitesmoke;
  padding: 20px;
  border-radius: 4px;
}
